<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div class="centeringDiv">
    <p th:replace="fragments :: runnerbar"></p>
</div>
<p th:replace="fragments :: navbar"></p>


<h1 style="text-align:center;">Registered Runners</h1>

<table class="runnertable">
    <tr class="runnertablehead">
        <th>Callsign</th>
        <th th:if="${currentRunner}">Logged In</th>
        <th th:unless="${currentRunner}">Log in Runner</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr class="runnertableline"
        th:each="runner : ${runners}">
            <td>
                <a th:text="${runner.callsign}" th:href="@{'/runners/runnerDetails/'+${runner.id}}"></a>
            </td>
        <td>
            <span th:if="${currentRunner}">
                <span class="btn btn-primary"
                        th:if="${currentRunner.callsign==runner.callsign}" th:text="'Logged in'"></span>
            </span>
            <span th:unless="${currentRunner}">
                <a class="btn btn-primary"
                        th:href="@{'/runners/login/'+${runner.id}}"
                   th:text="Login"></a>
            </span>
        </td>
        <td th:if="${runner.callsignOnly}"
            colspan="2" th:text="'Runner has chosen
            Callsign-only privacy mode'"></td>
        <td th:unless="${runner.callsignOnly}"
                th:text="${runner.firstName}+' '+${runner.lastName}"></td>
        <td th:unless="${runner.callsignOnly}"
            th:text="${runner.age}"></td>

    </tr>

</table>

</body>
</html>