<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div class="centeringDiv">
<p th:replace="fragments :: runnerbar"></p>
</div>
<p th:replace="fragments :: navbar"></p>

<div class="centeringDiv">
    <h1
        class="runnerDetailsHeader"
        th:text="${detailedRunner.Callsign}">
    </h1>
</div>
<div class="centeringDiv">
    <span th:text="'Name: '+${detailedRunner.firstName}+' '+${detailedRunner.lastName}"></span>
    <span th:text="'Age: '+${detailedRunner.age}"></span>
    <span th:text="'Weight: '+${detailedRunner.weight}"></span>
</div>
<div class="centeringDiv">
    <span th:text="'Gender: '+${detailedRunner.gender.getDisplayName()}"></span>
    <span th:text="'Running Level: '+${detailedRunner.runnerLevel.getDisplayName()}"></span>
    <span th:text="'Zip Code: '+${detailedRunner.zip}"></span>
</div>


<div class="centeringDiv">
<p th:replace="fragments :: listnavbar"></p>
</div>
</body>
</html>