body {
    background-color:#0A0A0A;
    color: white;
    padding: 10px;
}

.errors {
    color: red;
    font-style:italic;
}

.headerbar {
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.headerbarspan{
    position:relative;
}

.runnerbar{
    position: fixed;
    top: 0;
    width: 90%;
    align-content: center;
    background-color:#2A2773;
    border:outset;
    border-radius:10px;
    text-align:center;
    display:flex;
    justify-content:space-around;
}

.listnavbar{
    position: fixed;
    bottom: 0;
    width:80%;
    background-color:#2A2773;
    border:outset;
    border-radius:10px;
    text-align:center;
    display:flex;
    justify-content:space-around;
}

.runnerbarspan{
    position:relative;
}

.runnertable, .trailtable, .runsessiontable{
    table-layout:fixed;
    width:100%;
}

.runnertablehead, .trailtablehead, .runsessiontablehead{
    border:outset;
    border-radius:10px;
    background-color:#2A2773;
}

.runnertableline:nth-child(even){
    background-color:#0E0D26;
}

.trailtableline:nth-child(even){
    background-color:#0E0D26;
}

.runsessiontableline:nth-child(even){
    background-color:#0E0D26;
}


.centeringDiv{
    display:flex;
    justify-content:space-around;
}

.runnerDetailsHeader, .trailDetailsHeader,
.runSessionDetailsHeader{
    text-align:center;
     border:outset;
     border-radius:10px;
     background-color:#2A2773;
     display:inline;
     padding:5px;
}