<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link th:href="@{/css/runshare.css}" rel="stylesheet"/>
    <script type="text/javascript"
            th:src="@{/js/scripts.js}"></script>
    <title
            th:text="'Runshare ' + ${title}">Runshare
    </title>
</head>


<div th:fragment="navbar" class="headerbar">
    <a th:href="@{/}" >
        <img th:src="@{../../images/RunshareLogo.jpg}"
             width="150" height="150" style="background-color:red"/>
    </a>
    <span>
        <a class="headerbarspan" th:href="@{/runners
        }"><button class="btn btn-primary">Runners List
        </button></a>
    </span>
    <span>
        <a class="headerbarspan"
           th:href="@{/runners/addRunner}"><button
                class="btn btn-primary">Register a new
            Runner</button></a>
    </span>
    <span>
        <a class="headerbarspan"
           th:unless="${currentRunner}"
           th:href="@{/runners/login}"><button
                class="btn btn-primary">Log in a
            Runner</button></a>
    </span>
    <span>
        <a class="headerbarspan"
           th:href="@{/trails/index}"><button
                class="btn btn-primary">Trail
            Catalog</button></a>
    </span>
    <span>
        <a class="headerbarspan"
           th:href="@{/trails/addTrail}"><button
                class="btn btn-primary">Add a
            Trail</button></a>
    </span>
    <span>
        <a class="headerbarspan" th:if="${currentRunner}"
           th:href="@{/runners/logout}"><button
                class="btn btn-primary">Logout</button></a>
    </span>

</div>

<p th:if="${currentRunner}" th:fragment="runnerbar"
class="runnerbar">
    <span class="runnerbarspan"
          th:text="'Current Runner: '+${currentRunner.callsign}">
    </span>
    <span class="runnerbarspan"
            th:if="${!currentRunner.callsignOnly}"
              th:text="'Runner name: '+${currentRunner.firstName}+' '+${currentRunner.lastName}">
    </span>
    <span class="runnerbarspan" th:if="${!currentRunner.callsignOnly}"
              th:text="'Runner age: '+${currentRunner.age}">
    </span>
</p>

