<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link th:href="@{/css/runshare.css}" rel="stylesheet"/>
    <script type="text/javascript"
            th:src="@{/js/scripts.js}"></script>
    <title
            th:text="'Runshare ' + ${title}">Runshare
    </title>
</head>


<nav class="navbar navbar-expand-lg" th:fragment="navbar">
    <a class="navbar-brand" th:href="@{/}" >
        <img th:src="@{../images/RunshareLogo.jpg}"
             width="150" height="150"
             style="background-color:red"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse"
         id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item active">
                <a th:href="@{/runners}">Runners</a>
            </li>
            <li class="nav-item active">
                <a th:href="@{/runners/addRunner}">Register a new Runner</a>
            </li>
            <li class="nav-item active">
                <a th:href="@{/runners/login}">Log in a
                    Runner</a>
            </li>
            <li class="nav-item active">
                <a th:href="@{/runners/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<p th:if="${currentRunner}" th:fragment="runnerbar"
class="runnerbar">
        <span class="runnerbarspan"
            th:text="'Current Runner: '+${currentRunner.callsign}"></span>
        <span class="runnerbarspan"
            th:text="'Runner name: '+${currentRunner.firstName}+' '+${currentRunner.lastName}"></span>
</p>