<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<p th:replace="fragments :: runnerbar"></p>
<p th:replace="fragments :: navbar"></p>


<h1 style="text-align:center">Welcome to Runshare!</h1>
<div style="text-align:center">
<a th:href="@{/runners/addRunner}"
        class="btn btn-primary">Create a
    new Runner account</a>
<a th:href="@{/runners/login}"
   class="btn btn-primary">Log in an existing Runner
</a>
</div>
</body>
</html>