<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body id="main">

<div class="centeringDiv">
    <p th:replace="fragments :: runnerbar"></p>
</div>
<p th:replace="fragments :: navbar"></p>


<h1 style="text-align:center; padding-top:50px;">Trail
    Catalog</h1>
<div class="centeringDiv">
    <div th:if="${currentRunner}"><a
        class="btn btn-primary"
        th:href="@{'/trails/addTrail'}">Add a new Trail</a></div>
    <div th:unless="${currentRunner}"><a
            class="btn btn-primary"
            th:href="@{'/runners/login'}">Login to
        Add a Trail</a></div>
</div>

<h3 style="text-align:center;" th:if="${sortType}"
    th:text="'Sorted by '+${sortType}"></h3>
<small th:if="${sortType}" class="form-text text-muted"
       style="text-align:center;"><a
        th:href="@{'/trails/'}">Remove Sorting</a></small>

<table class="trailtable">
    <tr class="trailtablehead">
        <th><span>Name</span><span><a
                th:href="@{'/trails/nameAsc'}">&#8593;
        </a></span><span><a
                th:href="@{'/trails/nameDesc'}">&#8595;</a></span>
        </th>
        <th><span>Miles</span><span><a
                th:href="@{'/trails/milesAsc'}">&#8593;
        </a></span><span><a
                th:href="@{'/trails/milesDesc'}">&#8595;
        </a></span></th>
        <th><span>Location</span><span><a
                th:href="@{'/trails/addressAsc'}">&#8593;
        </a></span><span><a
                th:href="@{'/trails/addressDesc'}">&#8595;
        </a></span></th>
        <th>Difficulty Rating</th>
    </tr>
    <tr class="trailtableline" th:each="trail : ${trails}">
        <td>
                <a th:href="@{'trails/trailDetails/'+${trail.id}}" th:text="${trail.name}"></a>
        </td>
        <td th:text="${trail.miles}"></td>
        <td th:text="${trail.address}"></td>
        <td th:if="${trail.returnTrailDifficultyList(trailDifficulties) == 6}">&#9734 &#9734 &#9734 &#9734 &#9734</td>
        <td th:if="${trail.returnTrailDifficultyList(trailDifficulties) == 1}">&#9733 &#9734 &#9734 &#9734 &#9734</td>
        <td th:if="${trail.returnTrailDifficultyList(trailDifficulties) == 2}">&#9733 &#9733 &#9734 &#9734 &#9734</td>
        <td th:if="${trail.returnTrailDifficultyList(trailDifficulties) == 3}">&#9733 &#9733 &#9733 &#9734 &#9734</td>
        <td th:if="${trail.returnTrailDifficultyList(trailDifficulties) == 4}">&#9733 &#9733 &#9733 &#9733 &#9734</td>
        <td th:if="${trail.returnTrailDifficultyList(trailDifficulties) == 5}">&#9733 &#9733 &#9733 &#9733 &#9733</td>
    </tr>

</table>
<div class="centeringDiv">
    <p th:replace="fragments :: listnavbar"></p>
</div>
</body>
</html>