<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body id="main">

<div class="centeringDiv">
    <p th:replace="fragments :: runnerbar"></p>
</div>
<p th:replace="fragments :: navbar"></p>

<div class="centeringDiv">
    <h1 class="trailDetailsHeader"
        th:text="${detailedTrail.name}"></h1>
</div>
<div class="centeringDiv">
    <span
            th:text="'Trail length: '+${detailedTrail.miles}"></span>
    <span
            th:text="'Location: '+${detailedTrail.address}"></span>
    <span
            th:text="'Zip Code: '+${detailedTrail.zipCode}"></span>
</div>

<div class="centeringDiv">
    <p th:replace="fragments :: listnavbar"></p>
</div>
</body>
</html>