<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body id="main">

<div class="centeringDiv">
    <p th:replace="fragments :: runnerbar"></p>
</div>
<p th:replace="fragments :: navbar"></p>

<div class="centeringDiv" style="padding-top:50px;">
    <h1 class="trailDetailsHeader"
        th:text="${detailedTrail.name}"></h1>
</div>
<div class="centeringDiv">
    <span
            th:text="'Trail length: '+${detailedTrail.miles}"></span>
    <span
            th:text="'Location: '+${detailedTrail.address}"></span>
    <span
            th:text="'Zip Code: '+${detailedTrail.zipCode}"></span>
</div>
<div class="centeringDiv">
    <button class="btn btn-primary" id="weatherSpanButton"
            th:onclick="'getWeather('+${detailedTrail.numberZipCode}+',callApiKey())'">Get current
        Weather</button>
    <span hidden id="weatherSpanLabel"
            th:text="'Current Weather at trail: '">
    </span>
    <span hidden
            id="weatherSpan" ></span>
</div>

<div class="centeringDiv">
    <p th:replace="fragments :: listnavbar"></p>
</div>
</body>
<script type="text/javascript"
        th:src="@{/js/weatherInfo.js}"></script>
<script type="text/javascript"
        th:src="@{/js/apiKey.js}"></script>
</html>